<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <form action="/create" method="post">
    {% csrf_token %} 
    <label for="name"> Name: <input type="text" name="name" /></label> 
    <label for="language">Language: <input type="text" name="language"> </label>
    <label for="code">Code: <input type="text" name="code"> </label>
    
    <input type="submit" value="create" />
    </form>
    <table border="1">
            <thead>
                <tr>
                <th> Name </th>
                <th> Language </th>
                <th> Code </th>
                <th> Created At </th>
                <th> Updated At </th>
                <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for CodeSnippet in CodeSnippets %}
                <tr>
                <td> {{ CodeSnippets.name}}</td>
                <td> {{ CodeSnippets.language}}</td>
                <td> {{ CodeSnippets.code }}</td>
                <td> {{ CodeSnippets.created_at }}</td>
                <td> {{ CodeSnippets.updated_at}}</td>
                <td><a href="/edit/{{ CodeSnippets.id }}"></a>
                <a href="/delete/{{ CodeSnippets.id }}"</a></td>
                
                {% endfor %}
                </tr>
            </tbody> 

</body>
</html>     